body{
font-family: 'Special Elite', cursive;
}
div{
    background-image: linear-gradient(to right top, #996f06, #b8860b, #daa520, #daa720, #ffd700);
}
.copy_right_footer{
    position:fixed;
    bottom:0;
    background-image: linear-gradient(to right top, #ffffff, #ff0000, #ff6600, #ffd900, #09ff00);
    font-size: 30px;
    width: 100%;
    text-align: center;
    line-height: 3;
}
.rpt{
    box-shadow: 5px 5px 10px black;
    font-size: 30px;
}
canvas{
    border: 5px solid darkgoldenrod;
    border-radius: 20px;
    box-shadow: 25px 25px 25px darkgoldenrod;
    margin-top: 150px;
    
}